{% extends 'layout.twig' %}

{% block title %}{{ category.title }}-{{ good.name }}{% endblock %}

{% block content %}
    <b><a href="/catalog" >Каталог</a> / <a href="/catalog/{{ category.id }}">{{ category.title }}</a> / {{ good.title }}<b/>
    <div>${{ good.price }}</div>
    <div>{{ good.info }}</div>
    <br/>
    <a href="?add={{ good.id }}"><button>Add</button><a>
{% endblock %}